
@{
    ViewData["Title"] = "Error";
}


<h1>I guess something went wrong.</h1>
<h3> By the way it was error <span class="error">@ViewBag.ErrorMessage</span> <span class="face">._.</span> </h3>

<style>
    .error{
        color:red;
    }

    .face{
        color:white;
    }
</style>